@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.booklist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.4em;
  gap: 0.938em;
}

.bookList {
  width: 75em;
  height: 10.625em;
  margin: 0 0.063em 0.938em 0;
  padding: 2em 7.438em 1.625em 1.688em;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.gen {
  width: 7em;
  height: 1.125em;
  margin: 0 4em 0 0;
  opacity: 0.5;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Title {
  width: 22.813em;
  height: 1.813em;
  margin: 0.188em 9.688em 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.375em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
}

.auth {
  width: 6.688em;
  height: 1.188em;
  margin: 0.25em 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.Comments {
  display: flex;
  align-items: center;
  height: 1.188em;
  margin: 0.188em 0.938em 0.125em 0;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book-header-buttons {
  display: flex;
}
