@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

header {
  display: flex;
  align-items: center;
  width: 84em;
  height: 5.938em;
  padding: 1.438em 6.188em 1.688em 6.25em;
  background-color: #fff;
  justify-self: center;
}

.Bookstore-CMS {
  width: 15em;
  height: 2.313em;
  font-size: 1.875em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.BOOKS {
  width: 3.688em;
  height: 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.CATEGORIES {
  width: 6.563em;
  height: 1em;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.d-flex {
  display: flex;
}

li {
  list-style: none;
  margin: 0 1em;
}
