@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

body {
  background-color: #fafafa;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.main {
  scrollbar-width: none;
}

.header {
  display: flex;
  align-items: center;
  scroll-margin-top: 2px;
  height: 95px;
  margin: 0;
  padding: 1.438rem 3.188rem 1.688rem 3.25rem;
  background-color: #fff;
}

.Bookstore-CMS {
  width: 15em;
  height: 2.313em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: normal;
  color: #0290ff;
  display: flex;
  align-items: center;
}

.d-flex {
  display: flex;
  font-size: 22px;
}

.d-flex li {
  list-style: none;
  margin: 0 1em;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  width: 75rem;
  height: 10.625rem;
  margin: 0 auto 5px auto;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  padding: 1em;
}

.booklist {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  overflow-y: scroll;
  max-height: calc(100vh - 180px);
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  width: 75rem;
  height: 114px;
  justify-content: center;
  margin: 30px 3rem 0 3rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  padding: 0 16px;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
